.container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	margin-top: 50px;
	font-size: 40px;
}

form {
	margin-top: 50px;
}

label, select {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

input, select {
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	width: 60%;
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	font-size: 20px;
	background-color: #00bfff;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #00a0e9;
}
